<!DOCTYPE html>
<html>
  <head>
    <title>GOON Coin</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="semantic-ui/semantic.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/landing_style.css"
    />
    <script src="../../jquery/jquery-3.6.0.min.js"></script>
    <script src="semantic-ui/semantic.min.js"></script>
    <script src="javascript/frontend.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico" />
  </head>
</html>
