<!DOCTYPE html>
<html>
  <head>
    <title>GOON Coin</title>
    <link rel="stylesheet" type="text/css" href="semantic-ui/semantic.min.css">
    <link rel='stylesheet' type="text/css" href='stylesheets/create_wallet_style.css'>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="semantic-ui/semantic.min.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>
  </head>
  <body>
    <div id="main-container" class="ui grid middle aligned">
      <div class="row">
        <div class="column" align="middle">
          <div class="ui raised card">
            <div class="ui segment">
              <form action="" class="ui form">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="username" name="username" placeholder="Username">
                  </div>
                </div>
                <div class="ui divider"></div>
                <div>
                  <a class="ui green button" href="/new_wallet">Create Wallet</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </body>
</html>
