<% layout('layouts/boilerplate') %>

  <body>

    <main class="ui middle aligned center aligned grid">

      <div class="column">

        <!-- Main Content -->
        <div class="ui padded raised segment">

          <!-- Logo -->
          <div class="row">
            <img class="ui centered medium image" src='images/default-monochrome.svg' alt="logo">
          </div>

          <!-- Selection Container -->
          <div class="row">

            <!-- Signup With Discord -->
            <div class="row">
              <a href="/login" class="fluid ui primary large button">
                <i class="icon discord"></i> Login with Discord</a>
            </div>

            <!-- Divider -->
            <div class="ui divider"></div>

            <!-- Create new and Login with Wallet -->
            <div class="row fluid ui buttons">
              <a href="/" class="ui gray large button">Create New Wallet</a>
              <div class="or"></div>
              <a href="/" class="ui gray large button">Login with Wallet</a>
            </div>

          </div>


        </div>

      </div>

    </main>

  </body>

  </html>