body {
  background: linear-gradient(133deg, rgba(48, 9, 42, 1) 0%, rgba(203, 60, 97, 1) 100%);
}

body>.grid {
  height: 100%;
}

.column {
  max-width: 30%;
}

.row {
  padding: 2px;
}

.image {
  margin: 20px auto 40px;
}

.ui.segment {
  background-color: rgba(170, 170, 170, .05);
}