body > .grid {
    height: 100%;
  }
  .column {
    max-width: 450px;
  }
  #landing-header {
    background-color: white;
  }
  #login_card {
    background-color: #21BA45;
  }
  #login_button {
    margin-top: 1.5em;
    margin-bottom: 1.15em;
  }